<nav>
  <div>
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
    </button>
    <div id="navbarSupportedContent">
      <ul>
        <li>
          <%= link_to "投稿", "#", class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to "", user_path(current_user),%>
        </li>
      </ul>
    </div>
  </div>
</nav>