# https://github.com/github/gitignore/blob/main/Rails.gitignore の内容を参考

src/db/mysql_data/

# Ignore all logfiles and tempfiles.
src/log/*
src/tmp/*
!src/log/.keep
!src/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
src/config/initializers/secret_token.rb
src/config/master.key

.env
.env*.local

## Environment normalization:
/.bundle
src/vendor/bundle

# Ignore uploaded files in development
src/storage/*
!src/storage/.keep
src/public/uploads

src/node_modules/.cache/

